{:deps {org.babashka/http-client {:mvn/version "0.1.4"}
        babashka/fs {:mvn/version "0.2.16"}
        babashka/process {:mvn/version "0.4.16"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.46"}
        borkdude/rewrite-edn {:mvn/version "0.4.8"}
        org.babashka/cli {:mvn/version "0.8.58"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        io.github.seancorfield/deps-new {:git/url "https://github.com/seancorfield/deps-new"
                                         :git/tag "v0.5.0"
                                         :git/sha "48bf01e"}
        version-clj/version-clj {:mvn/version "2.0.2"}}
 :tools/usage {:ns-default babashka.neil.api}
 :aliases
 {:neil
  {:project {:version "0.3.66"}}

  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :git/tag "v0.5.1"
                 :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :dev
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :git/tag "v0.5.1"
                 :git/sha "dfb30dd"}
                io.github.tonsky/clj-reload {:mvn/version "0.7.1"}}}
  }}
